<% if notice %>
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<script>
  function clearFilter() {
    var inp = $("#customerFilter");
    inp.val("");
    inp.keyup();
  }

  $(document).ready(function(){
    $("#customerFilter").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#customersTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

<div class="input-group mb-3">
  <input type="text" id="customerFilter" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="clearFilter();">Clear</button>
  </div>
</div>

<table id="customersTable" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Balance</th>
      <th>Last Modified</th>
      <th># Entries</th>
      <th># Packs</th>
      <th>Notes</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><span class="<%= customer.balance < 0 ? "text-danger" : "" %>"><%= '%.2f' % customer.balance %></span></td>
        <td><%= customer.localtimestring %></td>
        <td class="text-center"><%= customer.tourentries ? customer.tourentries.to_s : " " %></td>
        <td class="text-center"><%= customer.tourpacks ? customer.tourpacks.to_s : " " %></td>
        <td><%= customer.notesstring %></td>
        <td><%= button_to '- $0.50', customers_quickAdd_path(customer_id: customer.id, amount: -0.50), class: "btn btn-danger" %></td>
        <td><%= button_to '- $1', customers_quickAdd_path(customer_id: customer.id, amount: -1), class: "btn btn-danger" %></td>
        <td><%= button_to '+ $3', customers_quickAdd_path(customer_id: customer.id, amount: 3), class: "btn btn-success" %></td>
        <td><%= link_to 'History', customer, class: "btn btn-primary" %></td>
        <td><%= link_to 'Add credit', new_transaction_path(customer_id: customer.id), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
