<p id="notice"><%= notice %></p>

<script>
  function clearFilter() {
    var inp = $("#customerFilter");
    inp.val("");
    inp.keyup();
  }

  $(document).ready(function(){
    $("#customerFilter").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#customersTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

<div class="input-group mb-3">
  <input type="text" id="customerFilter" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="clearFilter();">Clear</button>
  </div>
</div>

<table id="customersTable" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Balance</th>
      <th>Last Modified</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><span class="<%= customer.balance < 0 ? "text-danger" : "" %>"><%= '%.2f' % customer.balance %></span></td>
        <td><%= customer.localtimestring %></td>
        <td><%= customer.notesstring %></td>
        <td><%= link_to 'History', customer %></td>
        <td><%= link_to 'Add credit', new_transaction_path(customer_id: customer.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
