<p id="notice"><%= notice %></p>

<h1><%= @customer.name %></h1>
<hr />
<table class="custdetails">
  <tr>
    <th><strong>Balance:</strong></th>
    <td><%= '%.2f' % @customer.balance %></td>
  </tr>
  <tr>
    <th><strong>Last modified:</strong></th>
    <td><%= @customer.localtimestring %></td>
  </tr>
  <tr>
    <th><strong>Notes:</strong></th>
    <td><%= @customer.notes %></td>
  </tr>
</table>
<hr />
<p>
  <h3>Add credit:</h3>
  <%= form_with(model: [@customer.transactions.build ], local: true) do |form| %>
    <p>
      <%= form.label 'Amount (negative to spend credit)' %>
      <%= form.number_field :amount, step: 0.01, required: true %>
    </p>
    <p>
      <%= form.label 'Note' %>
      <%= form.text_field :note %>
    </p>
    <p>
      <%= form.hidden_field :customer_id, value: @customer.id %>
      <%= form.submit "Add transaction" %>
    </p>
  <% end %>
</p>
<hr />
<p>
  <h3>Last 20 transactions:</h3>
  <table>
    <tr>
      <th>Time</th>
      <th>Amount</th>
      <th>Note</th>
      <th></th>
    </tr>
  <% @customer.transactions.order(stamp: :desc).limit(20).each do |trans| %>
    <tr>
      <td>
        <%= trans.stampstring %>
      </td>
      <td>
        <%= '%.2f' % trans.amount %>
      </td>
      <td>
        <%= trans.note %>
      </td>
      <td>
        <%= link_to 'Delete', trans, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    <tr>
  <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_customer_path(customer) %>
<%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', customers_path %>
