<%= form_with(model: transaction, local: true, html: { autocomplete: "off" }) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% @customer = Customer.find(@transaction.customer_id) %>

<h2 class="text-center">Add credit for <%= @customer.name %></h2>
<div class="container col-sm-8">
  <div class="form-group">
    <%= form.label :amount %>
    <%= form.text_field :amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :note %>
    <%= form.text_area :note, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :customer_id, value: @customer.id %>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm">
        <%= form.submit "Add credit", class: "form-control btn btn-primary" %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm">
        <%= link_to "Cancel", @customer, class: "form-control btn btn-light" %>
      </div>
    </div>
  </div>
</div>
<% end %>
