<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Store Credit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="">Hidden Masters Store Credit</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <%= link_to "All Customers", customers_path, class: "nav-item nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to 'New customer', new_customer_path, class: "nav-item nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Options
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to 'Export all', customers_export_path, class: "dropdown-item" %>
              <% if defined?(@customer) && @customer.persisted? %>
                <%= link_to 'Customer details', @customer, class: "dropdown-item" %>
                <%= link_to "Edit customer", edit_customer_path(@customer), class: "dropdown-item" %>
                <%= link_to 'Delete customer', @customer, class: "dropdown-item", method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </li>
        </ul>
        </div>
    </nav>

    <div class="container mainpage">
      <%= yield %>
    </div>
  </body>
</html>
